<footer>
      <h3>Company information</h3>
      <p><em>Company registration number:</em> 7287358</p>
      <p><em>Information:</em> <a href="mailto:info@thamesvalleyreinforcement.co.uk">info@ thames valley reinforcement .co.uk</a></p>
    </footer>
    
    <nav>
        <a name="nav">
        <ul>
          <li><a class="active" href="/index.html">Home</a></li>
          <li><a href="/photos.html">Photos</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/qualifications.html">Qualifications</a></li>
          <li><a href="/whatwedo.html">What we do</a></li>
          <li><a href="/steel.html">Steel reinforcement</a></li>
          <li><a href="#top">Back to top</a></li>
        </ul>
      </nav>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-263371-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>