<p>At Thames Valley Reinforcement we are able to <a href="/whatwedo.html">undertake all forms of work</a> from small ground work projects to multi storey developments and super structures on a very large scale.  We are very proud to have been involved on some of the <a href="/photos.html">largest sites in Europe</a>.</p>

<p>We are all <a href="/qualifications.html">very professional</a> and extremely committed to achieving project programs in a cost effective manner with <a href="/qualifications.html">Health & Safety</a> as a top priority in all work undertaken.</p>

<p><em><strong>Call us now on:</strong></em></p>

<p>07747 138595</p>

<p><em><strong>or email:</strong></em></p>

<p><a href="mailto:info@thamesvalleyreinforcement.co.uk">info@<br/>thames valley reinforcement .co.uk</a></p>

<p><em><strong><a href="https://www.facebook.com/ThamesValleyReinforcementLtd">Our Facebook page</a></strong></em></p>

<p><em><strong><a href="http://www.flickr.com/photos/tvrfixer">Our Flickr photos</a></strong></em></p>